::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: rgba(37, 43, 66, 1);
    font-family: 'Poppins';
    font-weight: 500;
    background: rgb(255, 255, 255);

}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1130px;
    margin: 0px auto;
    box-sizing: content-box;
    padding: 0px 15px;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*----------HEADER--------------------------------------------------------------------*/

.header_body{
    display: flex;
    justify-content: space-between;
    z-index: 100;
    position: relative;
    margin: 10px 5px;
}

.logo_image_{
    width: 100%;
    height: 100%;
}


.header_menu{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
}
.menu_lines{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu_line{
    background-color: black;
    width: 18px;
    height: 1.8px;
    margin: 1px;
}

/*-------MAINBLOCK---------------------------------------------------------------------------------------------------------------------*/
.mainblock {
    position: relative;
}
    

.mainblock_image {
    margin-top: -570px;
    z-index: 1;
}
@media (max-width: 606px) {
    .mainblock_image {
        margin-top: -620px;
    }
}
@media(max-width: 591px) {
    .mainblock_image {
        margin-top: -640px;
    }
}
@media (max-width: 506px) {
    .mainblock_image {
        margin-top: -700px;
    }
}
.main_body {
    position: relative;
    z-index: 10;
}
.lite_title{
    font-size: 25px;
    font-weight: 100;
    margin: 121px 0px 22px 0px;
    color: #fff;
}
@media (max-width: 380px) {
    .lite_title {
        font-size: 18px;
    }
}
.main_title{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    line-height: 115%;
}
@media(max-width: 518px) {
    .main_title {
        font-size: 52px;
    }
}
@media (max-width: 455px) {
    .main_title {
        font-size: 44px;
    }
}
@media (max-width: 380px) {
    .main_title {
        font-size: 40px;
    }
}
.main_text {
    font-size: 21px;
    font-weight: 400;
    color: #fff;
    margin: 24px 0px 45px 0px;
    line-height: 108%;
}
.main_getintouch_link{
    color: inherit;
    color: rgba(255, 215, 35, 1);
    text-decoration: underline;
}

/*---------------CLIENTS--------------------------------------------------------------------------------------------------------*/
.clients_page{
    position: relative;
    margin: -103px 0px 0px 0px;
    z-index: 3;
}
.clients_body{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1459);
    padding: 60px 0px;
}
@media (max-width: 1070px) {
    .clients_body {
        flex-wrap: wrap;
    }
}
@media (max-width: 1070px) {
    .clients_image {
        margin: 10px;

    }
}
/*-----------STRATEGY--------------------------------------------------------------------------------------------*/
.strategy_body{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 745px) {
    .strategy_body {
        flex-wrap: wrap;
    }
}
.strategy_info{
    margin: 120px 95px 10px 0px;
}
@media (max-width: 836px) {
    .strategy_info {
        margin: 120px 10px 10px 0px;
    }
}
@media (max-width: 350px) {
    .strategy_info {
        margin: 60px 10px 10px 0px;
    }
}
.strategy_litle_title{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
.strategy_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 127.777778%;
    color: rgba(77, 83, 60, 1);
    margin: 29px 0px 35px 0px;
}
.strategy_text{
    font-weight: 400;
    font-size: 21px;
    color: rgba(33, 56, 66, 0.6);
    line-height: 162.5%;
    margin: 0px 0px 42px 0px;
}
.strategy_more_info{
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: rgba(212, 214, 212, 1);

}

.strategy_response{
    box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.1459);

}
@media (max-width: 430px) {
    .strategy_response {
        display: flex;
        flex-direction: row;
    }
}
.strategy_response_text{
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 166.6667%;
}
@media (max-width: 430px) {
    .strategy_response_text {
        font-size: 20px;
    }
}
.stragery_response_user{
    display: flex;
    justify-content: flex-start;
    margin: 50px 0px 0px 0px;
}
@media (max-width: 430px) {
    .stragery_response_user {
        margin: 20px 0px 0px 0px;
    }
}
@media (max-width: 410px) {
    .stragery_response_user {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.strategy_response_info{
    padding: 120px 40px 0px 40px;
}
.user_text{
    padding: 30px 0px 0px 0px;
}
.user_name{
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 6px;
    color: rgba(77, 83, 60, 1);
}
@media (max-width: 430px) {
    .user_name {
        font-size: 18px;
    }
}
.user_subname{
    font-weight: 400;
    font-size: 16px;
    color: rgba(21, 41, 52, 1);
    line-height: 150%;
}

@media (max-width: 430px) {
    .user_subname {
        font-size: 14px;
    }
}

/*----------------AWESOME-PROJECT----------------------------------------------------------------------------------------------------------------*/
.awasome_project_body{
    display: flex;
}
@media (max-width: 1050px) {
    .awasome_project_body {
        justify-content: space-between;
    }
}
@media (max-width: 800px) {
    .awasome_project_body {
        flex-wrap: wrap;
    }
}
.awesome_project_title{
    margin: 301px 127px 110px 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: rgba(77, 83, 60, 1)
}
@media (max-width: 1140px) {
    .awesome_project_title {
        margin: 301px 0px 110px 0px;
    }
}
@media (max-width: 850px) {
    .awesome_project_title {
        margin-top: 100px;
    }
}
@media (max-width: 800px) {
    .awesome_project_title {
        margin-bottom: 60px;
    }
}
@media (max-width: 390px) {
    .awesome_project_title {
        font-size: 32px;
    }
}
.awesome_project_text{
    margin: 301px 0px 110px 127px;
    font-weight: 400;
    font-size: 21px;
    line-height: 162%;
    color: rgba(33, 56, 66, 0.6);
}
@media (max-width: 850px) {
    .awesome_project_text {
        margin-top: 100px;
    }
}
@media (max-width: 800px) {
    .awesome_project_text {
        margin: 0px;
    }
}
/*--------TITLES--------------------------------------------------------------------------------------*/
.title{
    font-size: 42px;
    font-weight: 700;
    line-height: 133.3333%;
    margin: 80px 0px 24px 0px;
    color: rgba(77, 83, 60, 1);
}
@media (max-width: 390px) {
    .title {
        font-size: 36px;
    }
}
.text{
    margin: 0px 0px 90px 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 162.5%;
    color: rgba(33, 56, 66, 0.6);
}
@media (max-width: 415px) {
    .text {
        margin: 0px 0px 40px 0px;
    }
}
.more_info{
    color: inherit;
    text-decoration: underline;
    color: rgba(212, 214, 212, 1);
    font-size: 18px;
    line-height: 125%;
}
/*------WALL-NEW------------------------------------------------------------------------------------------*/
.wall_new_items{
    display: flex;
}
@media (max-width: 930px) {
    .wall_new_items {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }
}
.wall_new_image{
    margin-left: -160px;
    z-index: 1;
    margin-right: 93px;
}
@media (max-width: 1100px)  {
    .wall_new_image {
        margin-left: -200px;
        margin-right: 40px;
    }
}
@media (max-width: 1000px) {
    .wall_new_image {
        margin-left: -240px;
        margin-right: 20px;
    }
}
@media (max-width: 930px) {
    .wall_new_image {
        margin: auto;
        width: 100%;
        height: 100%;
        margin-right: 0px;
    }
}
.wall_new_body{
    margin: 60px 56px;
}
@media (max-width: 930px) {
    .wall_new_body {
        margin: 40px 0px;
    }
}

/*--------------RESPONSE------------------------------------------------------------------------------*/
.response_container{
    max-width: 520px;

    z-index: 3;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
}
@media (max-width: 440px) {
    .response_container {
        max-height: 600px;
    }
}
.response_body{
    padding: 30px;
    box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1459);

}
.response_text{
    font-size: 21px;
    font-weight: 400;
    font-style: italic;
    line-height: 162.5%;
    color: rgba(77, 83, 60, 1);
}
@media (max-width: 320px) {
    .response_text {
        font-size: 16px;
    }
}
.response_user{
    margin: 24px 0px 0px 0px;
    display: flex;
}
.response_user_image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.response_user_text{
    margin: 10px 0px 0px 14px;
}

.response_user_title{
    font-size: 21px;
    font-weight: 700;
    color: rgba(77, 83, 60, 1);
    line-height: 150%;
}
.response_user_info{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(21, 41, 52, 1);
}
/*----------ANGEL-RESPONSE----------------------------------------------------------------------------*/
.angel_response_page{
    margin: -220px 0px 0px 290px;
}

@media (max-width: 1260px) {
    .angel_response_page {
        margin: -220px 0px 0px 200px;
    }
}
@media (max-width: 1200px) {
    .angel_response_page {
        margin: -200px 0px 0px 140px;
    }
}
@media (max-width: 1115px) {
    .angel_response_page {
        margin: -40px 0px 0px 20px;
    }
}
@media (max-width: 550px) {
    .angel_response_page {
        margin: 10px 0px 0px 0px;
    }
}

/*------------FURUTE-------------------------------------------------------------------------------------------*/
.future_items{
    display: flex;
    margin-top: 40px;
}

.future_body{
    margin: 80px 60px 20px 5px;
}

.future_image{
    margin-right: -200px;
    z-index: 1;
}

@media (max-width: 930px) {
    .future_items {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 1100px)  {
    .future_image {
        margin-right: -200px;
        margin-left: 40px;
    }
}
@media (max-width: 1000px) {
    .future_image {
        margin-right: -240px;
        margin-left: 20px;
    }
}
@media (max-width: 930px) {
    .future_image {
        margin: auto;
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }
}
@media (max-width: 930px) {
    .future_body {
        margin: 40px 0px;
    }
}

/*-------LINA------------------------------------------------------------------*/
.lina_response_page {
    margin: -100px 40px 40px 680px;
}

@media (max-width: 1100px) {
    .lina_response_page {
        margin: -80px 20px 40px 530px;
    }
}
@media (max-width: 1000px) {
    .lina_response_page {
        margin: -80px 20px 40px 420px;
    }
}
@media (max-width: 910px) {
    .lina_response_page {
        margin: -60px 10px 40px 20px;
    }
}
@media (max-width: 550px) {
    .lina_response_page {
        margin: 10px 10px 40px 10px;
    }
}

/*------BOOKING-----------------------------------------------------------------*/
.booking_items{
    display: flex;
}
@media (max-width: 930px) {
    .booking_items {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }
}

.booking_image{
    margin-left: -160px;
    z-index: 1;
    margin-right: 93px;
}
@media (max-width: 1100px)  {
    .booking_image {
        margin-left: -200px;
        margin-right: 40px;
    }
}
@media (max-width: 1000px) {
    .booking_image {
        margin-left: -240px;
        margin-right: 20px;
    }
}
@media (max-width: 930px) {
    .booking_image {
        margin: auto;
        width: 100%;
        height: 100%;
        margin-right: 0px;
    }
}
.booking_body{
    margin: 60px 56px;
}
@media (max-width: 930px) {
    .booking_body {
        margin: 40px 0px;
    }
}

/*-------OLIVIA------------------------------------------------------------------------*/
.olivia_response_page{
    margin: -220px 0px 0px 290px;
}

@media (max-width: 1260px) {
    .olivia_response_page {
        margin: -220px 0px 0px 200px;
    }
}
@media (max-width: 1200px) {
    .olivia_response_page {
        margin: -200px 0px 0px 140px;
    }
}
@media (max-width: 1115px) {
    .olivia_response_page {
        margin: -40px 0px 0px 20px;
    }
}
@media (max-width: 550px) {
    .olivia_response_page {
        margin: 10px 0px 0px 0px;
    }
}
/*------DIATION----------------------------------------------------------------------------------------------------------------------*/
.diation_page {
    margin-top: 300px;
}
@media (max-width: 722px) {
    .diation_page {
        margin-top: 150px;
    }
}
.diation_title {
    font-weight: 700;
    font-size: 40px;
    color: rgba(77, 83, 60, 1);
    line-height: 127.77777%;
    margin-bottom: 60px;
}
.diation_menu {
    display: flex;
}
@media (max-width: 930px) {
    .diation_menu {
        flex-wrap: wrap;
    }
}
.diation_menu_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@media (max-width: 930px) {
    .diation_menu_column {
        flex: 0 1 50%;
    }
}
@media (max-width: 750px) {
    .diation_menu_column {
        flex: 1 1 100%;
    }
}
.diation_menu_title {
    font-size: 28px;
    font-weight: 500;
    line-height: 141.66667%;
    color: rgba(77, 83, 60, 1);
    margin: 27px 42px 20px 42px;
}
.diation_menu_text {
    font-size: 21px;
    font-weight: 400;
    color: rgba(33, 56, 66, 0.6);
    margin: 0px 42px 55px 42px;
}
.diation_menu_more {
    margin: auto auto 46px 42px;
    font-size: 16px;
    font-weight: 400;
    color: inherit;
    color: rgba(212, 214, 212, 1);
}
.diation_menu_more:hover {
    text-decoration: underline;
}
.diation_menu_more_yellow{
    color: rgba(255, 215, 35, 1);
}

/*-----LET`S-MAKE--------------------------------------------------------------------------------*/
.lets_page {
    color: rgba(77, 83, 60, 1);
    margin: 150px 0px 0px 30px;
    padding: 70px;
    background-color: #fff;
    max-width: 900px;
    z-index: 4;
    position: relative;
}
@media (max-width: 600px) {
    .lets_page {
        margin: 50px 0px 0px 0px;
    }
}
@media (max-width: 500px) {
    .lets_page {
        padding: 20px;
    }
}
.lets_title {
    margin-bottom: 50px;
    font-size: 60px;
    font-weight: 700;
    line-height: 123.3333%;
}
@media (max-width: 500px) {
    .lets_title {
        font-size: 49px;
    }
}
@media (max-width: 380px) {
    .lets_title {
        font-size: 40px;
    }
}
.lets_more {
    font-size: 16px;
    font-weight: 400;
    color: rgba(212, 214, 212, 1);
    line-height: 150%;
    margin-bottom: 70px;
}

.lets_more:hover {
    text-decoration: underline;
}

/*--------FOOTER-------------------------------------------*/
.footer_page_top{
    position: relative;
    margin-top: -140px;
    z-index: 1;
}
@media (max-width: 418px) {
    .footer_contact_info {
        margin-top: -1000px;
    }
}

.footer_top_body {
    margin: -700px 0px 0px 0px;
    z-index: 4;
    display: flex;
    flex-direction: column;
}
.footer_contact_info {
    display: flex;
    justify-content: flex-start;
}
.contact_name {
    margin: 20px 0px;
    color: rgba(182, 193, 151, 1);
    font-size: 16px;
    font-weight: 400;
}
.contact_column:not(:first-child) {
    margin-left: 128px;
    margin-bottom: 40px;
}
.contact_info {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    line-height: 250%;
}
.footer_line {
    width: 100%;
    min-width: 1000px;
    height: 1px;
    background-color: rgba(93, 101, 68, 1);
}
.footer_service_info {
    display: flex;
}
@media (max-width: 1160px) {
    .footer_service_info {
        flex-wrap: wrap;
    }
}
.service_name {
    margin: 30px 0px 21px 0px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}
.service_menu {
    color: rgba(182, 193, 151, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 250%;
}
.footer_service_column:not(:first-child) {
    margin-left: 100px;
}
@media (max-width: 1160px) {
    .footer_service_column:last-child {
        margin-left: 0px;
    }
}
@media (max-width: 597px) {
    .footer_service_column:not(:first-child){
        margin-left: 10px;
    }
}
.footer_column_line {
    height: 210px;
    width: 1px;
    background-color: rgba(93, 101, 68, 1);
    margin: 80px 40px 80px 60px;
}
@media (max-width: 760px) {
    .footer_column_line {
        display: none;
    }
}

.service_menu_last{
    line-height: 162.5%;
    margin-bottom: 23px;
}
@media (max-width: 1160px) {
    .service_menu_last {
        margin: 10px 0px 10px 0px;
        align-self: flex-start;
    }
}
@media (max-width: 418px) {
    .service_menu_last {
        margin: 10px 0px 40px 0px;
    }
}
.footer_mail {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}
@media (max-width: 390px) {
    .footer_mail {
        font-size: 20px;
    }
}
.footer_made {
    display: flex;
    justify-content: space-between;
    margin: 20px 5px;
}
@media (max-width: 560px) {
    .footer_made {
        flex-wrap: wrap;
    }
}

.footer_made_by {
    margin: 10px;
    color: #fff;
    font-weight: 600;
}
@media (max-width: 418px) {
    .footer_made_by {
        margin-top: 20px;
    }
}

@media (max-width: 418px) {
    .footer_background{
        min-height: 2000px;
    }    
}